/**
 * Typography
 */

/**
 * Fix ShareDaddy Title Font-Size
 */
div.sharedaddy h3.sd-title {
  margin: 0 0 1em;
  display: inline-block;
  line-height: 1.2;
  font-size: 1.188em; // 9pt;
  font-weight: 700;
}


p+h2 {
  margin-top: 1em;
}
